{% extends "Layout.html" %}
{% block body %}

<div class="smallbox"></div>
<div class="smallbox"> 
    <p style="color:blue;font-size:xx-large">Toxic Comments Challenge</p>
  </div>    
  <div class="smallbox"></div>
  <div class="smallbox"> 
     <p style="color:black;font-size:medium">Project By</p>
  </div> 
   <div class="smallbox"> 
      <p style="color:brown;font-size:x-large">Senthil Kumar</p>
   </div> 
   <div class="smallbox"> 
      <p style="color:brown;font-size:x-large">Vignesh</p>
   </div> 
   <div class="smallbox"> 
      <p style="color:brown;font-size:x-large">Karthick Santhosh</p>
   </div> 
   <div class="smallbox"></div>
{% endblock %}